    <h3>Mountain: <%= link_to mountain.name, mountain_path(mountain) %></h3>

    City: <%= mountain.city %><br>
    State: <%= mountain.state %> <br>
    Summit Elevation: <%= mountain.summit_elevation %><br>
    Base Elevation: <%= mountain.base_elevation %> <br>
    Distance: <%= mountain.hike_distance %> miles<br>
    Directions: <%= link_to "Click", mountain.directions_url, target: "_blank" %><br><br>
    
    <%= user_review?(current_user, mountain) %><br>

    <%= user_linked?(current_user, mountain) %><br>

    <%= admin_mountain_edit(current_user, mountain) %><br>
    <%= admin_mountain_delete(current_user, mountain) %>

    <hr>