<h1>Hi, <%= current_user.username %></h1>
Total Distance: <%= current_user.display_total_distance %><br><br>
Total Elevation Gain: <%= current_user.display_elevation_gain %><br><br>
<hr>
My Hikes: <%= current_user.hikes.count %> <br>

<%= display_user_hikes(current_user) %>

<hr>

Saved Mountains: <br>

<%= display_saved_links(current_user) %> 
<hr>