<!DOCTYPE html>
<html>
  <head>
    <title>MountainHikes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% if !current_user %>
      <%= link_to "Sign In", '/signin' %>
      <%= link_to "Sign Up", new_user_path %><br>
    <% else %> 
      <%= link_to "My Page", user_path(current_user) %>
      <%= link_to "View all Montains", mountains_path %>
      <%= link_to "Sign Out", '/signout' %>
    <% end %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
